In [7]:
import pandas as pd

# Load the datasets
customers_df = pd.read_csv('D:\downloads\customers.csv')  # Assuming you have a CSV file named 'customers.csv'
products_df = pd.read_csv('D:\downloads\products.csv')  # Assuming you have a CSV file named 'products.csv'
  # Assuming you have a CSV file named 'ratings.csv'
orders_df = pd.read_csv('D:\downloads\orders.csv')  # Assuming you have a CSV file named 'orders.csv'

# Assuming 'orders_df' contains order details with 'product_id' and 'quantity' columns
# Merge orders with products to get product details
merged_df = pd.merge(orders_df, products_df, on='prod id', how='left')

# Aggregate sales quantity for each product
product_sales = merged_df.groupby('prod id')['quantity'].sum().reset_index()

# Merge product sales with product details
product_performance = pd.merge(product_sales, products_df, on='prod id', how='left')

# Sort products by sales quantity in descending order
top_performing_products = product_performance.sort_values(by='quantity', ascending=False)

# Display top performing products
print("Top Performing Products:")
print(top_performing_products.head(10))  # Display top 10 performing products

Top Performing Products:
   prod id  quantity product  price  category
6        7         7       G    555  lighting
5        6         6       F    672     chair
4        5         5       E    235     table
0        1         4       A    694      sofa
7        8         4       H    214     Decor
1        2         3       B    569      sofa
2        3         2       C    639      sofa
3        4         1       D    521       bed

In [9]:
merged_df

   order_id  customer  prod id      date  quantity product  price  category
0         1         7        1  7.5.2024         4       A    694      sofa
1         2         8        2  9.5.2024         3       B    569      sofa
2         3         6        3  6.5.2024         2       C    639      sofa
3         4         4        4  8.5.2024         1       D    521       bed
4         5         5        5  5.5.2024         5       E    235     table
5         6         3        6  7.5.2024         6       F    672     chair
6         7         2        7  4.4.2024         7       G    555  lighting
7         8         1        8  3.5.2024         4       H    214     Decor

In [12]:
import pandas as pd

# Load the datasets
customers_df = pd.read_csv('D:\downloads\customers.csv')  # Assuming you have a CSV file named 'customers.csv'
products_df = pd.read_csv('D:\downloads\products.csv')  # Assuming you have a CSV file named 'products.csv'
orders_df = pd.read_csv('D:\downloads\orders.csv')  # Assuming you have a CSV file named 'orders.csv'

# Assuming 'orders_df' contains order details with 'product_id' and 'quantity' columns
# Merge orders with products to get product details
merged_df = pd.merge(orders_df, products_df, on='prod id', how='left')

# Calculate revenue for each product
merged_df['revenue'] = merged_df['quantity'] * merged_df['price']

# Aggregate revenue for each product
product_revenue = merged_df.groupby('prod id')['revenue'].sum().reset_index()

# Merge product revenue with product details
product_performance = pd.merge(product_revenue, products_df, on='prod id', how='left')

# Sort products by revenue in descending order
top_revenue_products = product_performance.sort_values(by='revenue', ascending=False)

# Display top revenue products
print("Top Revenue Products:")
print(top_revenue_products.head(10))  # Display top 10 revenue products

Top Revenue Products:
   prod id  revenue product  price  category
5        6     4032       F    672     chair
6        7     3885       G    555  lighting
0        1     2776       A    694      sofa
1        2     1707       B    569      sofa
2        3     1278       C    639      sofa
4        5     1175       E    235     table
7        8      856       H    214     Decor
3        4      521       D    521       bed

In [14]:
top_revenue_products

   prod id  revenue product  price  category
5        6     4032       F    672     chair
6        7     3885       G    555  lighting
0        1     2776       A    694      sofa
1        2     1707       B    569      sofa
2        3     1278       C    639      sofa
4        5     1175       E    235     table
7        8      856       H    214     Decor
3        4      521       D    521       bed